@using Microsoft.AspNetCore.Identity
@using MyGarage.Data.Models
@using MyGarage.Services.Data.Interfaces
@inject UserManager<ApplicationUser> UserManager
@inject IUserService UserService

@{
    string userFulName = await UserService.GetUserFullNameByEmailAsync(User.Identity?.Name);
}
@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Hello, @userFulName!</h2>
    <p class="lead mb-1 mt-3">
        This is your administrator area - you can <b>read</b>, <b>create</b>,
        <b>delete</b> and <b>edit</b> vehicles, customers, parts, labor, mechanics and job cards.
        <br />You can add <b>Vehicles</b> to <b>Customers</b> and vice versa!
    </p>
    <p class="lead mt-1">
        You can also see <b>all customers, vehicles, parts, labor, mechanics</b> and <b>all job cards</b> in the system.
    </p>
    <hr class="my-4">
    <a asp-area="Admin" asp-controller="Customer" asp-action="All"
       class="btn btn-primary btn-lg mx-2">All Customers</a>

    <a asp-area="Admin" asp-controller="Vehicle" asp-action="All"
       class="btn btn-primary btn-lg mx-2">All Vehicles</a>

    <a asp-area="Admin" asp-controller="JobCard" asp-action="All"
       class="btn btn-primary btn-lg mx-2">All Job Cards</a>
    
    <a asp-area="Admin" asp-controller="Mechanic" asp-action="All"
       class="btn btn-primary btn-lg mx-2">Our Mechanics</a>

    <span>  |   </span>
    <a asp-area="Admin" asp-controller="Part" asp-action="All"
       class="btn btn-primary btn-lg mx-2">All Parts</a>

    <a asp-area="Admin" asp-controller="Job" asp-action="All"
       class="btn btn-primary btn-lg mx-2">All Jobs</a>
    <span>  |   </span>


</div>