@model MechanicViewModel

@{
    ViewData["Title"] = "Edit Mechanic";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<form asp-area="Admin" asp-controller="Mechanic" asp-action="Edit">
<partial name="_MechanicPartial" model="@Model" />
</form>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}