@model AddCustomerViewModel

@{
    ViewData["Title"] = "Edit Customer!";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

<partial name="_AddCustomerPartial" model="@Model" />

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}