@model AddVehicleViewModel

@{
    ViewData["Title"] = "Add New Vehicle";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />


<partial name="_AddVehiclePartial" model="@Model"/>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
