@model VehicleDetailsViewModel

@{
    ViewData["Title"] = "Vehicle Details";

}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<div>
        <h3>@ViewData["Title"]</h3>
    <p>Make - @Model.Make</p>
</div>
</body>
</html>