@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div >
        <img src="https://blythebuilding-trevetts.imgix.net/6dfb5e49-3be1-41a4-ba3c-6972ee5819ec/custom-4-car-garage-with-vaulted-ceiling-and-car-lift.jpg?auto=compress%2Cformat&fit=min&fm=jpg&q=80&rect=0%2C25%2C1200%2C628&w=1200"></img>
    </div>
</div>
