@model AddVehicleViewModel

@{
    ViewData["Title"] = "Add New Vehicle!";
}
<h2 align="center">@ViewData["Title"]</h2>
<hr/>

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group mb-3">
                <label asp-for="Make"></label>
                <input asp-for="Make" class="form-control" placeholder="Make...">
                <span asp-validation-for="Make" class="small text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Model"></label>
                <input asp-for="Model" class="form-control"
                       placeholder="Model...">
                <span asp-validation-for="Model" class="small text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Vin"></label>
                <input asp-for="Vin" class="form-control" placeholder="VIN..."></input>
                <span asp-validation-for="Vin" class="small textdanger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="EngineNumber"></label>
                <input asp-for="EngineNumber" class="form-control" placeholder="Engine Number...">
                <span asp-validation-for="EngineNumber" class="small textdanger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="RegNumber"></label>
                <input asp-for="RegNumber" class="form-control" placeholder="Registration Number...">
                <span asp-validation-for="RegNumber" class="small textdanger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="YearManufactured"></label>
                <input asp-for="YearManufactured" class="form-control" placeholder="Year Manufactured...">
                <span asp-validation-for="YearManufactured" class="small textdanger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="FuelType"></label>
                <input asp-for="FuelType" class="form-control" placeholder="Fuel Type...">
                <span asp-validation-for="FuelType" class="small textdanger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Mileage"></label>
                <input asp-for="Mileage" class="form-control" placeholder="Mileage...">
                <span asp-validation-for="Mileage" class="small textdanger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

