@model AddJobViewModel


<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group mb-3">
                <label asp-for="JobName"></label>
                <input asp-for="JobName" class="form-control" placeholder="Job Name...">
                <span asp-validation-for="JobName" class="small text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder="Price...">
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>