@model AddCustomerViewModel

@{
    ViewData["Title"] = "Add New Customer";
}

<h2 align="center">@ViewData["Title"]</h2>
<hr />

<partial name="_CustomerFormPartial" model="@Model"/>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}